flask==2.3.3
pandas==2.0.3
numpy==1.24.3
langchain-community==0.0.10
langchain-chroma==0.0.5
langchain==0.0.340
sentence-transformers==2.2.2
langchain-huggingface==0.0.6
langchain-text-splitters==0.0.1
